body {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

.img-fluid {
    height: 90%;
    object-fit: cover;
    padding-bottom: 3%;
    display: block;
    margin: 0 auto;
    border: dotted;
    padding: 5%
}

.col {
    height: 250px;
}

.col-xs-3 {
    font-size: 3vh;
    margin-bottom: 20px;
}


.attack, .defend {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    /* font-size: 200%; */
    font-weight: bold;
    border: dotted;
    padding: 25px;
}

.background {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    text-align: center;
}

.fight {
    text-align: center;
    float: none;
    justify-content: center;
}

